openapi: 3.1.0
info:
  title: Kovaaks Unofficial Stat API
  version: 1.0.0
servers:
  - url: https://ninjune.dev/kvk-api
    description: API
components:
  schemas:
    rank-count:
      description: The count of all ranks.
      type: object
      properties:
        benchmarkName:
          type: object
          properties:
            difficultyName:
              type: object
              properties:
                rank:
                  type: int
    cache-time:
      type: object
      properties:
        intervalS:
          type: int
        benchmarks:
          type: object
          benchmarkName:
            type: object
            properties:
              difficultyName:
                description: The time last checked as seconds since epoch (UTC).
                type: int
paths:
  /request-benchmark:
    get:
      summary: Request Benchmark
      description: TBA
  /rank-count:
    get:
      summary: Rank Counts
      description: Gets the rank counts for benchmarks/difficulties. Updates the cache daily.
      parameters:
        - name: benchmark
          description: The benchmark filter to use.
          in: query
          required: false
        - name: difficulty
          description: The difficulty filter to use.
          in: query
          required: false
      responses:
        "200": 
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/rank-count"
  /cache-time:
    get:
      summary: Cache Last Updated Time
      description: Gets the last time each benchmark/difficulty was cached along with the interval. If the cached difficulty's cache time is greater than the interval, then it is currently updating.
      respones:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cache-time"
